@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;
    align-items: center;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;

        @include mobile {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .imgContainer{
            width: 700px;
            height: 700px;
            overflow: hidden;
        /*    background-color: crimson;*/
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile{
                height: 100%;
                width: 90%;
                overflow: hidden;
                justify-content: center;
                
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

              @include mobile{
                  padding-top: 20px;
              }
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;
        height: 100%;
        @include mobile{
            width: 100%;
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding: 0%;
                align-items: center;
                justify-content: center;
                height: 70%;
                
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    font-size: 40px;
                }
            }
            h2{
                font-size: 35px;
                @include mobile{
                    font-size: 30px;
                }

            }
            h3{
                font-size: 30px;
                @include mobile{
                    font-size: 20px;
                }
                span{
                    font-size: inherit;
                    color: red;
                }

                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
        a{
            position: absolute;
            bottom: 100px;
            left: 30%;

            @include mobile{
                left: 80%;
                bottom: 60px;
            }

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                to{
                    opacity: 0;
                }
            }
        }
    }
}
